<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.ProductMapper">

    <select id="findByProductId" resultType="com.demo.entity.Product">
        select id, product_name, product_id, upc,price,inventory,creat_time,update_time from product where product_id = #{id}
    </select>
</mapper>
